
.home-section
    height: 100vh
    padding: 20px

    .page-header-intro
        padding: 0px 0px 15px 0px

        h1
            font-weight: bold
            margin-bottom: 0

        h6
            font-weight: bold
    
    .page-banner
        margin-bottom: 30px

        .image
            height: 100px
            background-color: #D9D9D9
            border-radius: 15px

    .user-selection-wrapper
        width: 100%
        
        p
            font-weight: 700
            font-size: 15px

        .user-selection-options
            display: flex
            flex-direction: row
            justify-content: space-evenly

            .selection-item

                div
                    width: 50px
                    height: 50px
                    border-radius: 100%
                    background-color: #757575
                    border-style: dashed

                p
                    padding-top: 3px
                    font-size: 10px
                    text-align: center

    .appointment-redirect

        .appointment-header
            margin-bottom: 5px

            h1
                font-weight: bold
                margin: 0

            p
                margin: 0

        .appointment-button-row
            display: flex
            flex-direction: row
            justify-content: center
            padding-bottom: 70px

.service-drawer
    p
        margin-bottom: 2px
        margin-left: 7px