@import '../../../styles/variables.sass'


.booking-confirm-section
    min-height: calc(100vh - 60px)
    display: flex
    flex-direction: column
    justify-content: space-evenly
    overflow-y: scroll
    padding: 40px 30px 30px 20px

    .date-time-info
        display: flex
        flex-direction: row
        justify-content: space-between
        padding-bottom: 30px

        .date-time-item
            
            h4
                text-align: center
                font-weight: bold

            div
                display: flex
                justify-content: center
                align-items: center
                background-color: $light-purple
                height: 40px
                border-radius: 10px
                color: white

                p
                    margin: 0

    
    .selected-services-info
        padding-bottom: 30px

        h4
            font-weight: bold

        div
            display: flex
            justify-content: center
            align-items: center
            background-color: $light-purple
            width: 70vw
            padding: 10px 15px 10px 15px
            border-radius: 10px
            color: white


            p
                margin: 0
                font-size: 18px

    .measurements-info
        padding-bottom: 30px

        .measurement-item-wrapper
            padding: 30px 0px 30px 0px
            display: flex
            flex-direction: row
            justify-content: space-evenly

            .measurement-item
                border-radius: 6px
                background-color: $dark-pink!important

                .ant-btn-primary , .ant-btn-default
                    color: #000
                    font-weight: bold
                    background-color: $dark-pink!important
                    border-color: $dark-pink

        h4
            font-weight: bold

    .price-info
        padding-bottom: 30px

        p
            font-weight: bold

        .item-info
            display: flex
            flex-direction: row
            justify-content: space-between

        .item-totals
            padding-top: 15px
            border-top: 1px solid $primary
            display: flex
            flex-direction: row
            justify-content: space-between
            font-size: 20px

    .btn-row
            display: flex
            flex-direction: row
            justify-content: center
            padding-bottom: 70px

.service-drawer

    .thickness-input
        margin-top: 20px


video 
  position: relative
  width: 600px
  height: 600px



video::before 
  width: 100px
  height: 100px

