@import '../../../styles/variables.sass'

.admin-home-section
    height: calc(100vh - 60px)
    width: 100%
    padding: 20px

    h2
        font-weight: bold
        margin-top: 30px
        margin-bottom: 20px

    .admin-stats
        display: flex
        flex-direction: row
        justify-content: space-evenly
        margin-bottom: 20px

        .stats-item
            display: flex
            flex-direction: column
            align-items: center

            p
                padding-top: 3px
                font-weight: bold
                font-size: 10px

            div
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px
                display: flex
                justify-content: center
                align-items: center
                width: 35vw
                height: 35vw
                background-color: gray
                border-radius: 10px

            .client-item

                div
                    font-size: 60px

            .earnings-items

    a
        text-decoration: none
        color: black

    a:hover
        text-decoration: none
        color: $primary

    .admin-item
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px
        display: flex
        flex-direction: row
        align-items: center
        background-color: $secondary
        padding: 10px 10px 
        margin-bottom: 15px
        border-radius: 10px
        

        .img-item
            min-width: 40px
            height: 40px
            border-radius: 100%
            background-color: #9c9c9c
            border: 2px dashed #1b4e79
            margin-left: 20px
            margin-right: 40px

        .info-item

            h5
                font-weight: 600
                padding: 0
                margin: 0
    
    .schedule-btn-row
        margin-top: 40px
        display: flex
        flex-direction: column
        padding-bottom: 70px

        h5
            font-weight: bold
            margin-bottom: 40px

        button
            align-self: center
        
