@import '../../../styles/variables.sass'

.booking-summary-section
    min-height: calc(100vh - 60px)
    display: flex
    flex-direction: column
    justify-content: space-evenly
    overflow-y: scroll
    padding: 30px 20px 20px 20px



    .booking-confirmed-wrapper

        h2
            font-weight: bold
            margin-bottom: 20px
            color: $light-purple

        .booking-confirmed-card
            display: flex
            flex-direction: row
            align-items: center
            border-radius: 15px
            background-color: $primary-light
            padding: 15px 20px 15px 20px
            margin-bottom: 30px

            .info-title
                padding-left: 10px
                padding-bottom: 3px

            .img-item
                min-width: 55px
                height: 55px
                border-radius: 100%
                margin-right: 15px
                background-color: $light-blue
                border: 2px dashed $light-purple
                font-size: 30px
                color: $dark-pink
                display: flex
                justify-content: center

            p
                font-weight: bold
                font-size: 12px
                margin: 0
    
    .booking-details
        display: flex
        flex-direction: column
        margin-bottom: 20px

        h4
            margin-bottom: 20px
            color: $light-purple
            font-weight: bold
        
        .booking-detail-item
            display: flex
            flex-direction: row
            padding-left: 20px

            .left-items
                min-width: 55px
                height: 55px
                border-radius: 100%
                margin-right: 15px
                background-color: $light-blue
                border: 2px dashed $light-purple
                font-size: 30px
                color: $dark-pink
                display: flex
                justify-content: center

                h6
                    font-weight: bold

    .price-info
        padding-bottom: 15px

        h4
            font-weight: bold
            margin-bottom: 20px
            color: $light-purple

        p
            font-weight: bold

        .item-info
            display: flex
            flex-direction: row
            justify-content: space-between

        .item-totals
            padding-top: 15px
            border-top: 1px solid $primary
            display: flex
            flex-direction: row
            justify-content: space-between
            font-size: 20px

    .payment-status-row
            display: flex
            flex-direction: row
            justify-content: center
            padding-bottom: 20px
            
            div
                font-weight: bold
                background-color: $light-purple
                border-radius: 7px
                padding: 10px 20px 10px 20px

    .cancel-btn-row
        padding: 20px
        display: flex
        justify-content: space-between
        padding-bottom: 70px

    .review-row
        padding-bottom: 70px

.reschedule-btn-row
    display: flex
    padding-bottom: 70px

    .cancel-btn
        margin-left: 20px

.ant-modal-content, .ant-modal-header
    background-color: $light-blue!important