@import '../../../styles/variables.sass'

.admin-schedule-section
    height: calc(100vh - 60px)
    width: 100%

    .schedule-header
        background-color: $secondary
        padding: 20px
        margin-top: 30px

        h2
            font-weight: bold
            margin-bottom: 20px

    .info-wrapper
        display: flex
        flex-direction: column
        padding: 20px
        padding-bottom: 80px

        .info-item
            margin-bottom: 10px

            h6
                font-weight: bold

            .info-details
                display: flex
                flex-direction: row
                margin-bottom: 10px

                p
                    background-color: $secondary
                    margin: 0
                    padding: 5px 20px
                    margin-left: 12px
                    border-radius: 7px
