@import '../../../styles/variables.sass'


.client-details-section
    min-height: calc(100vh - 60px)
    display: flex
    flex-direction: column
    justify-content: space-evenly
    overflow-y: scroll
    padding: 30px 20px 20px 20px

    .client-confirmed-wrapper

        h2
            font-weight: bold
            margin-bottom: 20px
            color: $light-purple
    
    .client-details
        color: black
        display: flex
        flex-direction: column
        margin-bottom: 20px

        h4
            margin-bottom: 40px
            font-weight: bold
            color: $light-purple

        h5
            margin-bottom: 20px
            color: $light-purple
        
        .client-detail-item
            display: flex
            flex-direction: row
            padding-left: 20px
            height: 67px

            .left-items
                min-width: 55px
                height: 55px
                border-radius: 100%
                background-color: $light-blue
                border: 2px dashed $dark-pink
                margin-right: 15px
                display: flex
                align-items: center
                justify-content: center
                color: $dark-purple
                font-size: 35px

                h6
                    font-weight: bold

            .right-items
                
                .color-indicator
                    display: flex
                    flex-direction: row
                    align-items: center

                    .color-item
                        margin-left: 7px
                        width: 50px
                        height: 15px
        h6
            font-weight: bold

    .booking-info
        color: white

        h5
            margin-bottom: 20px
            color: $light-purple

        .client-confirmed-card
            display: flex
            flex-direction: row
            align-items: center
            border-radius: 15px
            background-color: rgba(255, 63, 153, 0.452)
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px
            padding: 15px 20px 15px 20px
            margin-bottom: 15px

        .info-title
            padding-bottom: 3px

        .img-item
            min-width: 55px
            height: 55px
            border-radius: 100%
            background-color: $light-blue
            border: 2px dashed $dark-pink
            margin-right: 15px
            display: flex
            align-items: center
            justify-content: center
            color: $light-purple
            font-size: 35px


        p
            font-size: 12px
            margin: 0

    .footer
        height: 70px



